.header{
    height: 60px;
    position: fixed;
    top: 0px;
    box-shadow: 1px 1px 8px rgb(71, 71, 71) !important;
    z-index: 110;
    .menu{
      display: none;
      button{outline: none;}
    }
    .header-container{
        display: flex;
        width: 100%;
    }
    .spacer{
        flex: 1 1 auto;
    }
    mat-menu{
        outline: none;
      }
}



// animation
@keyframes cart {
    0%{
      transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }

  .cart{
    animation: cart 2s infinite;
  }