@import './colors.scss';
.sidenav{
    position: fixed;
    left: 0px;
    top: 60px;
    bottom: 0px;
    background: $background;
    width: 240px;
    padding-top: 12px;
    overflow-y: auto;
    z-index: 20;
    transition: left 0.5s ease,width 0.5s ease;
    color:white;


}




