<!-- <div class="example-container">
    <mat-toolbar color="primary" class="header">
       
       <mat-toolbar-row>
         <div class="menu">
           <button mat-icon-button ><mat-icon>menu</mat-icon></button>
         </div>
         <span>SocialPro</span>
         <div class="header-container">
           <div class="spacer"></div>
           <div> <button mat-flat-button color="accent" routerLink="/auth/signin" class="mr-3">Login</button></div>
           <div class="mr-2" *ngIf="isLogin">
             <mat-icon [matMenuTriggerFor]="menu">account_circle</mat-icon>
             <mat-menu #menu="matMenu">
               <button mat-menu-item style="outline: none;">
                 <mat-icon >person_outline</mat-icon>
                 <span>My Account</span>
               </button>
               
               <button mat-menu-item>
                 <mat-icon style="transform: rotate(-180deg);">login</mat-icon>
                 <span>LogOut</span>
               </button>
             </mat-menu>
           </div>
           <div>
             <mat-icon matBadge="5" matBadgeColor="warn" matBadgeSize="small"class="cart">shopping_cart</mat-icon>
           </div>
         </div>
       </mat-toolbar-row>
     </mat-toolbar>
     
 <aside class="sidenav">
   <app-sidenav></app-sidenav>
 </aside>
 <div class="main-content">
   <router-outlet></router-outlet>
 </div>
 <div class="friends">
  <app-friend-list></app-friend-list>
</div>
</div> -->
<div class="m-container">
  <div class="header pl-2" >
    <img src="../../assets/img/facebook.png" height="40px">
    <div class="brand_name">Social Media</div>
    <div class="spacer"></div>
    <div class="navigation d-flex">
      
      <div routerLink="/main/profile">Profile</div>
      <div routerLink="/main/post">Posts</div>
      <button mat-flat-button color="accent" (click)="onLogout()" *ngIf="isLogin">logout</button>

    </div>
  </div>
  
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>