<div class="content-box">

      <div class="card d-flex mb-5">
       <div class="img_box"*ngIf="user">
           <img [src]="user.profile" class="profile">
       </div>
       <div class="d-flex name" *ngIf="user">{{user.name}}</div>
        <div style="display: flex; flex-direction: column;justify-content: center;">
           
          <div class="my-4 ">
            <span class="mr-2">Email:</span>
            <span *ngIf="user">{{user.email}}</span>
          </div>
        
                  
              
        </div>
      </div>
      
     
</div>