<div class="login">
   
    <div class="card">
        <div class="img-box">
          <img src="../../../assets/img/signup.svg" alt="login" class="img" style="max-width: 260px;">
        </div>
        <div class="form">
            <form [formGroup]="signup" (ngSubmit)="onSignup(signup)" class="d-flex">
                <mat-form-field appearance="outline">
                    <mat-label>FullName</mat-label>
                    <input matInput type="text" formControlName="name">
                    <mat-icon matSuffix>create</mat-icon>
                    <mat-hint 
                    *ngIf="submitted && signup.get('name').hasError('required')" 
                    class="text-danger">Name is required!</mat-hint>
                  </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                        <mat-hint 
                        *ngIf="submitted && signup.get('email').hasError('required')" 
                        class="text-danger">Email is required!</mat-hint>
                        <mat-hint 
                        *ngIf="submitted && signup.get('email').hasError('email')"
                         class="text-danger">Invalid email!</mat-hint>
                  </mat-form-field>
                    <input
                    style="display: none"
                    type="file" (change)="onFileChanged($event)"
                    #fileInput>
                    <div class="py-2 d-flex">
                        <span>Select image</span>
                        <span style="flex: 1 1 auto;" class="text-right"><mat-icon class="text-success"(click)="fileInput.click()">perm_media</mat-icon></span>
                    </div>
                
                  <!-- <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="type" formControlName="password">
                    <mat-icon matSuffix (click)="onVisible()" *ngIf="!isVisible" class="visible_icon">visibility_off</mat-icon>
                    <mat-icon matSuffix (click)="onVisible()" *ngIf="isVisible" class="visible_icon">visibility</mat-icon>
                    <mat-hint 
                    *ngIf="submitted && signup.get('password').hasError('required')" 
                    class="text-danger">Password is required!</mat-hint>
                    <mat-hint 
                    *ngIf="submitted && signup.get('password').hasError('minLength')"
                     class="text-danger">Password must have 6 characters!</mat-hint>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="type" formControlName="confirmPassword">
                    <mat-icon matSuffix (click)="onVisible2()" *ngIf="!isVisible2" class="visible_icon">visibility_off</mat-icon>
                    <mat-icon matSuffix (click)="onVisible2()" *ngIf="isVisible2" class="visible_icon">visibility</mat-icon>
                    <mat-hint 
                    *ngIf="submitted && signup.get('confirmPassword').hasError('required')" 
                    class="text-danger">Password is required!</mat-hint>
                    <mat-hint 
                    *ngIf="submitted && signup.get('confirmPassword').hasError('mustMatch')"
                     class="text-danger">Confirm password is wrong!</mat-hint>
                  </mat-form-field> -->
                  <button
                   type="submit" 
                   mat-raised-button 
                   color="warn"
                   class="btn_signup">Join</button>
            </form>
           
        </div>
    </div>
      
</div>

