
<div class="login">
   
    <div class="card">
        <div class="img-box">
          <img src="../../../assets/img/login.svg" alt="login" class="img">
        </div>
        <div class="form mt-5">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)" class="d-flex">

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput autocomplete="off" formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-hint 
                        *ngIf="submitted && loginForm.get('email').hasError('required')" 
                        class="text-danger">Email is required!</mat-hint>
                        <mat-hint 
                        *ngIf="submitted && loginForm.get('email').hasError('email')"
                         class="text-danger">Invalid email!</mat-hint>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="type" formControlName="password">
                    <mat-icon matSuffix (click)="onVisible()" *ngIf="!isVisible" class="visible_icon">visibility_off</mat-icon>
                    <mat-icon matSuffix (click)="onVisible()" *ngIf="isVisible" class="visible_icon">visibility</mat-icon>
                    <mat-hint 
                    *ngIf="submitted && loginForm.get('password').hasError('required')" 
                    class="text-danger">Password is required!</mat-hint>
                    <mat-hint 
                    *ngIf="submitted && loginForm.get('password').hasError('minLength')"
                     class="text-danger">Password must have 6 characters!</mat-hint>
                  </mat-form-field>
                 
                
                  <button 
                  type="submit"
                  mat-raised-button 
                  color="warn"
                  class="btn_signup">
                  Login</button>
            </form>
             <div class="my-2">OR</div>
            <button mat-raised-button  class="btn_signup" routerLink="/auth/signup">Create an account</button>
        </div>
    </div>
      
</div>